services:
  cloudflared:
    image: {{ cloudflare_tunnel_image }}
    container_name: {{ cloudflare_tunnel_container }}
    restart: unless-stopped
    command: tunnel --config /etc/cloudflared/config.yml run {{ cloudflare_tunnel_id }}
    volumes:
      - {{ cloudflare_tunnel_config_dir }}:/etc/cloudflared:ro

networks:
  default:
    name: {{ edge_network }}
    external: true
