---
# Cloudflare Origin Certificate Configuration
{% if cloudflare_origin_cert_enabled | default(false) %}

tls:
  certificates:
    - certFile: {{ cloudflare_origin_cert_file }}
      keyFile: {{ cloudflare_origin_key_file }}
      stores:
        - default
  
  stores:
    default:
      defaultCertificate:
        certFile: {{ cloudflare_origin_cert_file }}
        keyFile: {{ cloudflare_origin_key_file }}

{% endif %}
