services:
  cloudflare-ddns:
    image: {{ cloudflare_ddns_image }}
    container_name: {{ cloudflare_ddns_container }}
    restart: unless-stopped
    environment:
      - API_KEY={{ cloudflare_ddns_api_key }}
      - ZONE={{ cloudflare_ddns_zone }}
      - SUBDOMAIN={{ cloudflare_ddns_subdomain }}
      - PROXIED=false
